@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap'); 


.nav-logo{
  display: flex;
  align-items: flex-start;
  width: 80%;
  position: relative;

}

#navbarSupportedContent {
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size: 15px;
   width: 100%;
   padding-left: 200px;
   align-items: flex-end;
   margin-right: 100px;

}

#navbarSupportedContent ul li{
  display: flex;
  align-items: flex-end;
}


.content {
     grid-area: contenido-a;
     display: grid;
     grid-template-columns: 50% 50%;
     grid-template-rows: 200px 200px ;
     height: 500px;
     grid-template-areas: 
     "texto_m i_bf"
     "texto_v i_bf";
     column-gap: 100px;
     row-gap: 30px;
}

  #first_div {
     grid-area: texto_m;
    
   }

  #second_div {
     grid-area: texto_v;
    
  }

  #imagen-bf {
     margin: auto;
     width: 100%;
     grid-area: i_bf;   
    
  }

  #titulo-m {
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     font-size: 2em;
     color: rgb(0, 175, 185);
     text-align: center;    
     padding: 10px 10px;
     margin: 10px 10px;
     width: 90%;
        
  }

  #parrafo-m {
     font-family: 'Roboto', sans-serif;
     font-size: medium;
     justify-content: center;
     text-align: center; 
     padding: 10px 10px;
     margin: 10px 10px;

  }

  #titulo-v {
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     font-size: 2em;
     color: rgb(0, 175, 185);
     text-align: center; 
     padding: 10px 10px;
     margin: 10px 10px;
     width: 90%;
  }
    

  #parrafo-v {
     font-family: 'Roboto', sans-serif;
     font-size: medium;
     justify-content: center; 
     text-align: center;
     padding: 10px 10px;
     margin: 10px 10px;

  }

.div-novedades{
  background-color: rgb(253, 252, 220);

} 

.titulo-novedades {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
     font-size: 2em;
     color: rgb(0, 175, 185);
     text-align: center; 
     padding: 20px 10px;
     margin: 10px 10px;
     margin-bottom: 20px;
     width: 90%;
}



#pie {
    width: 100%;
    background-color: rgb(240, 113, 103);
    margin: 5px 10px;
    padding: 1px 10px;
    align-items: center;
    color: rgba(253, 254, 255, 0.986);
    grid-area: pie-b;
  
}

  #l_f {
   display: inline;
   justify-content: space-between;
   margin-left: 10px;

  } 

  #l_i{
   display: inline;
   justify-content: space-between;
   margin-left: 10px;

  } 

  #l_l{
   display: inline;
   justify-content: space-between;
  margin-left: 10px;

  } 

  #pie p {
   display: inline-block;
   align-items: flex-end;
   padding: 10px 300px; 
   margin-left: 100px;    
  }

/* ===================ALIMENTO=================== */

#contenido {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100px 300px;
  height: 500px;
  grid-template-areas: 
  "gato-c gato-c"
  "primero segundo";
}

 #first{
  grid-area: primero;
  display: inline-block;
  justify-content: space-between;
 }

 #second{
  grid-area: segundo;
  display: inline-block;
  justify-content: space-between;
 }

 #gato-comida{
  grid-area: gato-c;
  width: 100%;
 }

#first h1 {
    color: rgb(0, 175, 185);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    text-align: center;
    width: 80%;
    margin: 20px ;
    padding: 10px ;
  }

#first p {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 16px;
    width: 80%;
    margin: 20px ;
    padding: 10px ;

}

#second h2 {
    color: rgb(0, 175, 185);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    width: 80%;
    text-align: center;
    margin: 20px 40px;
    padding: 10px 20px;
       
}

#tabla {
    border: 1px;
    background-color: rgb(253, 252, 220);
    margin: 20px 40px;
    padding: 10px 20px;
    align-items: center; 
}

/* =====================CUCHAS===================== */

.img-perro{
  display: inline;
  justify-items: center;
  width: 100%;
}


#item-cuchas {
  margin-left: 20px;
  padding-left: 50px;
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-template-rows: 300px 100px;
  grid-template-areas: 
  "cucha-a cucha-b cucha-c"
  "text-a text-b text-c";
  justify-items: center;

}

.div-modelos-c{
  background-color: rgb(253, 252, 220);
}

.model_titulo {
    color: rgb(0, 175, 185);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    height: 80px;
    margin: 30px 2px;
    padding: 20px 20px;
  
    
}

  .img_a {
    width: 70%;
    padding-top: 20px;
    margin-left: 20px;

    grid-area: cucha-a;
    display: inline-flex;

   }

  .img_b {
    width: 70%;
    padding-top: 20px;
    margin-left: 20px;
    grid-area: cucha-b;
    display: inline-flex;

   }

  .img_c {
    width: 70%;
    padding-top: 20px;
    margin-left: 20px;
    grid-area: cucha-c;
    display: inline-flex;
    
   }
  
  
  #ph_a {
    width: 60%;
    text-align: center;
    grid-area: text-a;
    display: inline-flex; 


   }

  #ph_b {
    width: 80%;
    padding-left: 10px;
    text-align: center; 
    grid-area: text-b;
    display: inline-flex;

  }

  #ph_c { 
    width: 80%;
    padding-left: 10px;
    text-align: center;
    grid-area: text-c;
    display: inline-flex;

   }

/* =====================INDUMENTARIA================== */

.caniche-header{
  display: inline;
  justify-items: center;
  width: 100%;
}

.div-modelos-i{
  background-color: rgb(253, 252, 220);
}

.titulo{
  color: rgb(0, 175, 185);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 25px;
  height: 80px;
  margin: 30px 2px;
  padding: 20px 20px;

}

main .sector {
  display: grid;
  grid-template-columns: repeat(3 1fr) ;
  grid-template-rows: 300px 200px ;
  grid-template-areas: 
  "mod-aa mod-bb mod-cc"
  "texto-aa texto-bb texto-cc";

} 

  #modelo_a {
    display: inline; 
    margin: 20px 60px;
    padding: 10px 10px;
    width: 60%;
    grid-area: mod-aa;
  }

  #modelo_b {
    display: inline; 
    margin: 20px 60px;
    padding: 10px 10px;
    width: 60%;
    grid-area: mod-bb;

  }

  #modelo_c {
    display: inline; 
    margin: 20px 60px;
    padding: 10px 10px;
    width: 60%;
    grid-area: mod-cc;

  }

  #mod_a {
    width: 80%;
    text-align: center;
    margin: 10px 20px;
    padding: 10px 80px;
    display: inline-flex; 
    grid-area: texto-aa;

  }

  #mod_b {
    width: 80%;
    text-align: center;
    margin: 10px 20px;
    padding: 10px 100px;
    display: inline-flex; 
    grid-area: texto-bb;

  }

  #mod_c {
    width: 70%;
    text-align: center;
    margin: 10px 20px;
    padding: 10px 40px;
    display: inline-flex; 
    grid-area: texto-cc;

  }
/* ======================CONTACTO==================== */

#info_contact {
     
    background-color: rgb(240, 113, 103);
    margin: 50px 0px;
    padding: 5px 10px;
    padding-bottom: 20px;
    height:30% ;
    justify-content: center;
}

#info_contact h1 {
    color: rgb(253, 252, 220);
    font-family: 'Roboto', sans-serif;
    font-size: 35px;
    padding: 0px 20px;
    margin: 5px 5px;
    display: flex;
}

#nro_publico {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    width: 30%;
    text-align: center;
    margin: 10px 10px;
    padding: 10px 30px;
    display: inline-flex;
    color: rgb(253, 252, 220)

}

#nro_whp {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    width: 30%;
    text-align: center;
    margin: 10px 10px;
    padding: 10px 80px;
    display: inline-flex;
    color: rgb(253, 252, 220)
    
}

#horarios{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    width: 30%;
    text-align: center;
    margin: 10px 10px;
    padding: 10px 80px;
    display: inline-flex;
    color: rgb(253, 252, 220)

}

/* main-grid */  



#gran-contenedor{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 650px ;
  grid-template-areas: 
  "pri-cuadro seg-cuadro"

}

#cuadros{
  position: absolute;
  grid-area: pri-cuadro;
  width: 100%;
  padding: 10px 15px;
  align-content: center;
}


#cuadros h2 { 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(0, 175, 185);
    font-size: 30px;
    margin: 5px 20px;
    padding-bottom: 20px;
    align-content: center; 

}

#cuadros-seg{
  grid-area: seg-cuadro;
  align-content: flex-end;

}

#cuadros-seg h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(0, 175, 185);
    font-size: 30px;
    margin: 5px 20px;
    padding-left: 150px;
    padding-bottom: 20px;
    align-content: center;
 
 }

 #cuadros-seg iframe {
    margin: 5px 20px;
    width: 100%;
    align-content: center;
    padding-left: 20px;
    padding-right: 100px;

 }

 