<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../imagenes/ps_logo-08.ico">
    <link rel="stylesheet" href="../css/style.css">
    <title>Pet shop</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css">
</head>

<body>
    
    <nav>
        <a href="../index.html">
            <img src="../imagenes/logo-06-06-08.png" alt="logo">
        </a>
        <ul>
            <li>
                <a href="../index.html">Home</a>
            </li>
            <li>
                <a href="alimento.html"> Alimento</a>
            </li>
            <li>
                <a href="cuchas.html">Cuchas</a>
            </li>
            <li>
                <a href="indumentaria.html">Indumentaria</a>
            </li>
            <li>
                <a href="contacto.html"> Contacto </a>
            </li>
        </ul>
    </nav>
    <header>
        <img src="../imagenes/perro durmiendo-08.png" alt="perro-durmiendo" class="img-perro">
    </header>

    <main id="padre-cuchas">
        <h1 class="model_titulo"> Modelos</h1>
        <section id="item-cuchas">
            <img src="../imagenes/cucha1-08.png" alt="cucha azul para perro" class="img_a">
            <img src="../imagenes/cucha2-08.png" alt="cucha redonda blanca" class="img_b">
            <img src="../imagenes/cucha23-08.png" alt="cucha marron" class="img_c">
                    
            <p id="ph_a">Cama Cucha Moisés Perros Gatos 53 X 43 cm </p>
            <p id="ph_b">Cucha Cama Para Gatos Perros Chico Dog It 35 X 40 cm</p>
            <p id="ph_c">Cama Cucha Moisés Perros Gatos 53 X 43 cm </p>
        </section>
    </main>
    <footer id="pie">
        <h3>seguinos en las redes</h3>
        <a href="https://m.facebook.com/login/?locale=es_ES">
            <img src="../imagenes/f_logo-06.png" alt="facebook_logo">
        </a>
        <a href="https://www.instagram.com">
            <img src="../imagenes/i_logo-06.png" alt="instagram_logo">
        </a>
        <img src="../imagenes/logos-06.png" alt="logos">
        <p>
            Patitas y ocicos ©. 2022. Todos los derechos reservados
        </p>

    </footer>
</body>

</html>